<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Content/Images/icon_transparent.png">
    <title>@ViewBag.Title - ReadIT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.Action("Index", "Stocks")*@
                <a href='@Url.Action("Index","Stocks")'>
                    <img style="width: 113px; padding: 9px 6px" src='@Url.Content("~/Content/Images/horizontal_logo_small.png")' />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (User.IsInRole("Admin"))
                    {

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Panel</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Action types", "Index", "ActionType")</li>
                                <li>@Html.ActionLink("Countries", "Index", "Country")</li>
                                <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                                <li>@Html.ActionLink("Conditions", "Index", "Condition")</li>
                                <li>@Html.ActionLink("Items", "Index", "Item")</li>
                                <li>@Html.ActionLink("Authors", "Index", "Authors")</li>
                                <li>@Html.ActionLink("Publishers", "Index", "Publisher")</li>
                            </ul>
                        </li>

                    }
                   
                    @if (User.IsInRole("RegularUser"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Order")">My Orders (@{ Html.RenderAction("PendingOrdersCount", "Order", new { showMyOrders = true });})</a>
                        </li>
                        <li>
                            <a href="@Url.Action("IncomeIndex", "Order")">Incoming Orders (@{ Html.RenderAction("PendingOrdersCount", "Order", new { showMyOrders = false });})</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Message")">Messages (@{ Html.RenderAction("UnseenMessagesCount", "Message");})</a>
                        </li>
                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ReadIT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
